.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  flex-wrap: wrap;
  gap: 12px;
  padding: 10px 0;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
  .variations {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
  .buttons {
    display: flex;
    gap: 8px;
  }
}
